body {
    background-color: blanchedalmond;
}

/* Estilo para o cabeçalho */
.cabecalho {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    background-color: rgb(109, 106, 106);
    margin: 0;
    height: 90px;
    width: 100%;
}

/* Orientação da lista e menu */
#menu {
    position: fixed;
    top: 2px;
    left: 15px;
    display: flex;
    height: 90px;
}

/* Estilo para a lista de menu */
.listaMenu {
    display: block;
    text-align: center;
    top: 9px;
    position: relative;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.listaMenu li {
    display: inline-block;
    margin-right: 90px;
}

/* Início da animação do menu */
ul li a {
    color: #fff;
    text-decoration: none;
}

ul:hover li a {
    transform: scale(1.5);
    opacity: 0.5;
    filter: blur(1px);
}

ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

/* Final da animação do menu */

/* Estilo e posição da primeira foto */
.euinicial {
    position: absolute;
    right: 50px;
    top: 230px;
    border-radius: 50%;
}

#inicial {
    position: relative;
    right: 50px;
    top: 50%;
    width: 450px;
    height: 400px;
    border-radius: 50%;
    border: solid;
    padding: 7px;
}

/* Estilo do título */
.apresentar {
    position: absolute;
    left: 150px;
    top: 240px;
    font-family: 'Courier New', Courier, monospace;
}

#titulo {
    font-size: 65px;
}

.sobreminha {
    position: absolute;
    left: 150px;
    top: 390px;
    font-family: 'Courier New', Courier, monospace;
}

#subtitulo {
    font-size: 40px;
    padding-top: 0;
}